/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    /*Image only BG fallback*/
    
    /*background = gradient + image pattern combo*/
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 200%;
  }

body{
    font-family: montserrat, arial, verdana;
  }

.form-heading{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

#msform {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
  }

  #msform input, #msform textarea{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
  }

  #msform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
    text-decoration: none;
    font-size: 14px;
  }
  #msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
  }

